@import "_custom";
@import "~bootstrap/scss/bootstrap";

.card-img-top{
    object-fit: cover;
    height: 300px;
    width: 455px;
}
h5,p{
    color: black;
}
.img-fluid{
    object-fit: cover;
    height: 317px;
    width: 400px;
}